@model HomeLoanManagementSystem.Models.Application

@{
    ViewData["Title"] = "ViewLoanById";
}

<form asp-action="Approve" asp-route-id=@Model.ApplicationId>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AadharNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AadharNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateOfInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateOfInterest)
        </dd>
    </dl>
</div>
<div>
    <input type="submit" id="Approve"  value="Approve" name="Approve" class="form-control" />
    <input type="submit" id="deny" asp-action="Deny" name="Deny" asp-route-id=@Model.ApplicationId value="Reject" class="form-control" />
</div>
    
    <script src = "~/lib/jquery/dist/jquery.min.js"> </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
<script>
       
        $(document).ready(function(){
        alert('hi');
            $('#EmployeeType').hide();

        $('#Approve').click(function(){
        var res=confirm("Are you sure you want to approve?")
        return res;
        });
            $(#Deny).click(function () {
                var re=confirm("Are you sure you want to approve?")
                return re;
            });
        }
        );
       
</script>
   
</form>