@model IEnumerable<HomeLoanManagementSystem.Models.Loan>

@{
    ViewData["Title"] = "ViewAllLoans";
}

<h1 style="margin-left:45%">View All Loans</h1>

<div style="width:85%; height:auto; margin:auto; align-items:center; margin-top:8%;" class="center vertical-scrollable">
    <table class="table table-bordered table-definition mb-5 font-size-lg ">
        <thead style=" background-color: #1D809F; text-decoration-color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.application.ApplicationId)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.application.ApplicationId)
            </td>
        </tr>
}
    </tbody>
</table>
</div>