@model HomeLoanManagementSystem.Models.Loan

@{
    ViewData["Title"] = "ViewLoan";
}

<h1>ViewLoan</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReqId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReqId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanEndDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
