@model HomeLoanManagementSystem.Models.Application

@{
    ViewData["Title"] = "LoanDetails";
}

<h1>LoanDetails</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>
    </dl>
</div>
